.navbar-brand > img {
    /* move Pharo logo up a bit to make it look aligned with text */
    margin-top: -5px;
}

.course-about .course-image {
    position: relative;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
	 font-size: 12pt;
}

.container {
    position: fixed;
    top: 50px;
    bottom: 0 !important;
    overflow: auto;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 0 40px;
}

#title {
    text-align: center;
    max-width: 680px;
    margin: 0px auto 40px;
    border-bottom: 1px solid rgb(170, 170, 170);
    padding-bottom: 40px;
}

h1 {
    font-weight: bold;
    padding: 32px;
    text-align: center;
}

/* Teacher photos */
img.teacher {
    width: 100px;
    height: 100px;
    margin: 15px;
    float: left;
}

li {
	margin-bottom:2px;
}

/* Put some space around partner's logos */
.partners-logos img {
    margin-left: 5px;
    margin-right: 5px;
}

.myicon {
	border-radius: 4px;
   padding: 2px; 
   /*width: 25px;*/
   height: 20px;
	color: white;
	background-color: gray;
/*	font-size: 110% !important;*/
	align:center;
}

.labels {
	border: 1px solid black;
}

.label {
	position: relative;
	top: -1px;
   padding-top: 4px;
   padding-bottom: 4px;
   margin-bottom: 2px;
	vertical-align: center;
   padding-top: 3px;
   padding-bottom: 3px;
   font-size: 78%;
}

.newbie {
	background-color: #AA2DC2;
}

.oo {
	background-color: #FFE70D;
}


.web {
	background-color: #1126cb;
}

.magic {
	background-color: #1E1F1E;
}

.expert {
	background-color: #c92626; 
	padding-left:4px;
}

.btn.download,.btn.download:visited {
    margin: 10px;
    padding: 5px 10px;
    border: solid 1px #08c;	
	 color: #08c; 
    text-decoration: none;
    font-size: 1em;
}

.btn.download:hover {
	 color: white;
	 background-color: #08c;
}

#pagetitle {
    color: #3297d4!important;
    font-size: 4em;
    margin-top: 5px;
}